.content-container{
    max-width: 620px;
}

@media (max-width:800px) {
    html{
        font-size: 16px;
    }
}

@media (max-width:680px){
    html{
        font-size: 12px;
    }
    .content-container{
        max-width: 500px;
    }
    
}

.content-container p{
    line-height: 1.5rem;
    letter-spacing: 1.05px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.essay-preview{
    border-top: 1px solid var(--secondary-text-color);
    margin-top: 1rem;
    padding-top: 1rem;
}

.essay-preview h2{
    color: var(--primary-text-color);
    margin-bottom: 0px;
}

.essay-preview .info{
    color: var(--secondary-text-color);
    font-size: 0.85rem;
    margin-bottom: 0.33rem;
}

.essay-preview:hover{
    cursor: pointer;
    color: var(--secondary-text-color);
}