@font-face {
    font-family: "London Underground Dot Matrix";
    src: url("/static/fonts/London Underground Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "London Underground Dot Matrix";
    src: url("/static/fonts/London Underground Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "London Underground Dot Matrix";
    src: url("/static/fonts/London Underground Heavy.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "London Tube";
    src: url("/static/fonts/LondonTube-MABx.ttf");
    font-weight: normal;
}