
/* Landing */
#landing{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    padding-inline-end: 4vw;
    max-width: 1900px;
    min-height: calc(100vh - 4.25rem);

    /* display: none; */
}

#landing .wrapper{
    /* border: 1px solid white; */
    justify-self: start;
    margin-top: -10vh;
    width: clamp(360px, 75vw, 1700px);
    
    /* border: 1px solid wheat; */
}

#landing .wrapper h1 {
    font-family: "Spline Sans Mono";
    font-weight: 100;
    color: var(--white-text);

    /* border: 1px solid wheat; */
}

#landing .wrapper h1 span{
    color: var(--red-text);
}

#landing .wrapper #text-0{
    font-size: clamp(20px, 2.5vw, 47.5px);
    font-weight: 100;
    margin-bottom: clamp(15px, 1.875vw, 35.625px);
}

#landing .wrapper #text-1, #landing .wrapper #text-2{
    font-size: clamp(30px, 3.75vw, 71.25px);
}



/* Bio */
#bio{
    display: grid;
    grid-template-columns: 2.75fr 1fr;
    align-items: center;
    justify-content: center;
    padding-inline: clamp(10px, 8vw, 100px);
    padding-block: 2rem;
    /* margin-inline: clamp(20px, 10vw, 200px); */

    /* display: none; */
}

#bio #left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(400px, 75%, 1000px);
}

#bio #left p{
    font-size: clamp(24px, 2.1vw, 39.9px);
    color: var(--white-text);
    font-family: "Space Grotesk";
    letter-spacing: 1px;
    margin-bottom: clamp(15px, 1.875vw, 35.625px);
    font-weight: 100;
}

#bio #left p:nth-of-type(2) {
    margin-bottom: 0px;
}

#bio #right{
    margin-bottom: auto;
    width: 100%;

    /* border: 1px solid red; */
}

#bio #right div{
    margin-bottom: clamp(16px, 1.4vw, 26.6px);
}

#bio #right div h2{
    font-family: "Spline Sans Mono";
    color: var(--black-text);
    font-weight: 100;
    letter-spacing: 2px;
    font-size: clamp(24px, 2.1vw, 39.9px);
    margin-bottom: clamp(8px, 0.7vw, 13.3px);
}

#bio #right div .title{
    font-family: "Space Grotesk";
    color: var(--white-text);
    font-weight: 100;
    font-size: clamp(20px, 1.75vw, 33.25px);
}

#bio #right div p{
    font-family: "Lato";
    color: var(--white-text);
    font-weight: 300;
    font-size: clamp(18px, 1.575vw, 29.925px);
}

#bio #right div .date{
    color: var(--grey-text);;
    font-size: clamp(16px, 1.4vw, 26.6px);
}

#bio #right #cv{
    font-family: "Spline Sans Mono";
    color: var(--black-text);
    margin-top: clamp(20px, 1.75vw, 33.25px);

    /* border: 1px solid blue; */
}

#bio #right #cv h2{
    margin-block: auto;
    display: flex;
    transition: opacity 0.3s;
}

#bio #right #cv svg{
    fill: var(--red-text);
    /* border: 1px solid red; */
    margin-left: clamp(8px, 0.7vw, 13.3px);;
    height: clamp(16px, 1.4vw, 26.6px);
    width: auto;
    transition: transform 0.3s, opacity 0.3s;
}

#bio #right #cv:hover{
    cursor: pointer;
}

@media (max-width:1000px){
    #bio{
        padding-inline: clamp(10px, 4.5vw, 100px)
    }
}

@media (max-width: 750px) {
    #bio{
        display: flex;
        flex-direction: column;
        padding-inline: 2%;
    }

    #bio #left{
        margin-right: 0px;
        margin-bottom: 2rem;
        width: 82%;
    }

    #bio #left p{
        padding: 0px;
        padding-inline: 5px;
        font-size: 4vw;
    }

    #bio #right{
        margin-right: 0px;
        margin-bottom: 2rem;
        width: 82%;
    }
}




@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(70px);
    }
    to {
        opacity: 0.8;
        transform: translateY(0);
    }
}

.animate{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;

    /* animation: none; */
}


/* Projects */
#projects{
    display: grid;
    grid-template-columns: 75fr 25fr;
    /* width: 100%; */
    margin: auto;
    padding-inline: 5vw;

    border: 1px solid white;
}

#projects #left, #projects #right{
    border: 1px solid white;
}

#projects #left{
    padding-inline: clamp(40px, 3.5vw, 66.5px);
}

#projects #left::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

#projects #left h1{
    color: var(--white-text);
    font-family: "Spline Sans Mono";
    font-weight: 100;
    font-size: clamp(40px, 3.5vw, 66.5px);
    margin-bottom: clamp(16px, 1.4vw, 26.6px);
}

#projects #left .project-item{
    border: 1px solid red;
    margin-inline: clamp(20px, 1.75vw, 33.25px);
    margin-bottom: clamp(125px, 10.9375vw, 207.8125px);
    min-height: 80vh;
}

#projects .project-item h2{
    color: var(--white-text);
    font-family: "Space Grotesk";
    font-weight: 100;
    font-size: clamp(30px, 2.625vw, 50px);
    margin-bottom: clamp(8px, 0.7vw, 13.3px);
}

#projects .project-item .details{
    display: flex;
}

#projects .project-item .image{
    width: clamp(200px, 50vw, 950px);
    height: clamp(100px, 25vw, 475px);
    overflow: hidden;
    margin-bottom: clamp(8px, 0.7vw, 13.3px);
    border-radius: 15px;
}

#projects .project-item .image img{
    width: 100%;
    height: auto;
    /* border-radius: 20px; */
    transition: transform 0.3s ease;
}

#projects .project-item .image img:hover{
    transform: scale(1.025);
}

#projects .project-item .description{
    font-family: "Lato";
    color: var(--white-text);
    font-weight: 300;
    font-size: clamp(20px, 1.75vw, 33.25px);
}

#projects .project-item .buttons{
    margin-top: clamp(8px, 0.7vw, 13.3px);;
}

#projects .project-item .buttons div{
    height: clamp(40px, 3.5vw, 66.5px);;
    width: clamp(40px, 3.5vw, 66.5px);;
    border: 0.8px solid var(--white-text);
    border-radius: 50%;
    margin-inline: 20px;
}

#projects .project-item .buttons #arrow{
    margin-bottom: clamp(20px, 1.75vw, 33.25px);
}

#projects #right #container{
    display: block;
    border: 1px solid white;
    background-color: rebeccapurple;
    width: 20vw;
    max-width: 380px;
    height: 20rem;
    position: fixed;
    right: 6.25vw;
}



@media (max-width: 850px){
    /* remove techh stach */
    #projects{
        display: grid;
        grid-template-columns: 1fr;
    
        border: 1px solid white;
    }

    #projects #left{
        max-height: none;
    }

    #project #right{
        display: none;
    }
}