.content-container{
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
}

.content-container p{
    margin-bottom: 0.5rem;
    line-height: 2rem;
    letter-spacing: 1.15px;
    font-size: 1rem;
}

.photo-overlay {
    position: fixed; /* Makes it stay on top, even when scrolling */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999; /* Ensures it appears above other elements */

    display: none;
    justify-content: center;
    align-items: center;
}

.photo-overlay[active]{
    display: flex;
}

.photo-overlay img{
    width: 80%;
    max-width: 700px;
    height: auto;
    user-select: none;
}


.photos-container{
    width: 100%;
    min-height: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border: 1px solid blue;
}

.photos-container img{
    width: 98%;
    height: auto;

    margin-bottom: 2%;
}