<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/code.css">
    <title>Code | Shalin Ahasan</title>
</head>
<body>
    <section>
        <div class="header-container">
            <h1 class="page-header">Code</h1>
        </div>

        <div class="content-container">
            <h2 class="content-header">Featured Projects</h2>
            <div class="featured-project">
                <img src="/static/assets/tabsolutely.png">
                <div class="project-description">
                    <h3 class="title">Starry Station</h3>
                    <p class="text">Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
                    <div class="skills-list">
                        <p class="skills-item">Python</p>
                        <p class="skills-item">JavaScript (ES6)</p>
                        <p class="skills-item">HTML</p>
                        <p class="skills-item">CSS</p>
                        <p class="skills-item">Example</p>
                    </div>
                </div>
            </div>

            <div class="featured-project">
                <img src="/static/assets/sentence.png">
                <div class="project-description">
                    <h3 class="title">Starry Station</h3>
                    <p class="text">Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
                    <div class="skills-list">
                        <p class="skills-item">Python</p>
                        <p class="skills-item">JavaScript (ES6)</p>
                        <p class="skills-item">HTML</p>
                        <p class="skills-item">CSS</p>
                        <p class="skills-item">Example</p>
                    </div>
                </div>
            </div>
            <h2 class="content-header">All Projects</h2>
            <div class="all-project">
                <div class="project-description">
                    <h3 class="title">Starry Station</h3>
                    <p class="text">Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
                    <div class="skills-list">
                        <p class="skills-item">Python</p>
                        <p class="skills-item">JavaScript (ES6)</p>
                        <p class="skills-item">HTML</p>
                        <p class="skills-item">CSS</p>
                        <p class="skills-item">Example</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>