<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/code.css">
    <link rel="stylesheet" href="/static/css/essays.css">
    <title>Essays | Shalin Ahasan</title>
</head>
<body>
    <section>
        <div class="header-container">
            <h1 class="page-header">Essays</h1>
        </div>

        <div class="content-container">
            <p>Welcome to my essays page, where I share thoughts, ideas, and stories that inspire me. Each piece is a reflection of my
                curiosity and passion for exploring the world through words. From deep dives into complex topics to lighthearted musins,
                I hope you find something that resonates. Take a moment, read, ad feel free to share your thoughts—I'd love to hear from you!
            </p>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
            <div class="essay-preview">
                <h2 class="title">Three types of hummus</h2>
                <p class="info"><span class="date">09/11/2024</span> ~ <span class="words">600 words</span></p>
                <p class="preview-text">
                    I was reminded of a wonderful person and a beautiful story this week, and thought it was worth sharing. About a year ago,
                    my friend Eesa's mother passed away suddenly. Isa and I were quite close, but he needed space, so we only exchanged texts
                    every couple of days. About a month later, he invited me and a few other friends—whom I didn't know well—to his parents'...
                </p>
            </div>
        </div>
    </section>
</body>
</html>