<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Shalin Ahasan</title>
</head>
<body>
    <div class="header-container">
        <div class="header">
            <h1 class="home">Shalin</h1>
            <div class="navigation">
                <button class="github">github</button>
                <button class="linkedin">linkedin</button>
                <button class="cv">cv</button>
                <button class="writings">writings</button>
                <button class="email">email</button>
            </div>
            <a class="email" href="test">Email me!</a>
        </div>
    </div>

    <section id="landing">
        <div class="text">
            <h2 class="hello">Hello!</h2>
            <div class="main">
                <p>I'm Shalin Ahasan,</p>
                <p>an aspiring Software Engineer,</p>
                <p>building fun things on the</p>
                <p>internet.</p>
            </div>
        </div>
    </section>
</body>
</html>