<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/code.css">
    <link rel="stylesheet" href="/static/css/photos.css">
    <title>Photos | Shalin Ahasan</title>
</head>
<body>
    <div class="photo-overlay">
        <img src="/static/assets/shalin.jpeg">
    </div>
    <section>
        <div class="header-container">
            <h1 class="page-header">Photos</h1>
        </div>
    
        <div class="content-container">
            <p>All shots are taken on the best camera I had to hand at that moment.</p>
            <p>Follow me on Instagram <span class="link">@shalin.jpg</span> :)</p>
            <p style="color: var(--secondary-text-color);">Last updated on 21/11/2024.</p>

            <div class="photos-container">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
                <img src="/static/assets/shalin.jpeg">
            </div>
        </div>
    </section>
</body>
</html>